body {
  font-family: sans-serif;
  font-size: 18px;
}

/*
The ::placeholder CSS pseudo-element is here to test autoprefixer. If the
autoprefixer does its job properly, the final CSS should be:

::-moz-placeholder {
  color: gray;
}
::placeholder {
  color: gray;
}
*/

::placeholder {
  color: gray;
}
